<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
</head>
<body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/utils/utils.js"></script>
    <div id='notificationPanel'>
        <span id='notificationPanelMessage'>
        </span>
    </div>
    <script type="text/javascript" src="/js/notificationpanel.js">
    </script>