<div id='sidebar'>
    <div id='sideNav'>
        <div class="sideNavRow">
            <i class="fa fa-user" aria-hidden="true"></i><span class='sideNavLink'>Test</span>
        </div>
        <div class="sideNavRow">
            <i class="fa fa-user" aria-hidden="true"></i><span class='sideNavLink'>Test</span>
        </div>
        <div class="sideNavRow">
            <i class="fa fa-user" aria-hidden="true"></i><span class='sideNavLink'>Test</span>
        </div>
        <div class="sideNavRow">
            <i class="fa fa-user" aria-hidden="true"></i><span class='sideNavLink'>Test</span>
        </div>
    </div>
</div>