<nav id="side-bar"class="navbar">
    <div id="side-menu" class="side-nav">
        <div class="sideNavRow" id='homeLink'>
            <i class="fas fa-home navIcon" id='homeIcon'></i><span class='sideNavLink hidden' id="homeText">Home</span>
        </div>
        {{!-- <div class="sideNavRow" id='phonesLink'>
            <i class="fas fa-mobile-alt navIcon" id="phoneIcon"></i>
            <span class='sideNavLink hidden' id="phonesText">Phones</span>
        </div> --}}
        {{#if viewphones}}
            {{> phoneslink}}
        {{/if}}
        {{!-- <div class="sideNavRow" id='usersLink'>
            <i class="fa fa-user navIcon" aria-hidden="true" id='usersIcon'></i>
            <span class='sideNavLink hidden' id="usersText">Users</span>
        </div> --}}
        {{#if viewusers}}
            {{> userslink}}
        {{/if}}
        {{#if viewroles}}
            {{> roleslink}}
        {{/if}}
        <div class="sideNavRow" id='signoutLink'>
            <i class="fas fa-sign-out-alt navIcon" id='signoutIcon'></i>
            <span class='sideNavLink hidden'>Logout</span>
        </div>
    </div>
</nav>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/users.js"></script>
<script type="text/javascript" src="/js/roles.js"></script>