<div id='sidebar'>
    <div id='sideNav'>
        <div class="sideNavRow" id='homeLink'>
            <i class="fas fa-home" id='homeIcon'></i></i><span class='sideNavLink'>Home</span>
        </div>
        <div class="sideNavRow" id='phonesLink'>
            <i class="fas fa-mobile-alt" id="phoneIcon"></i></i><span class='sideNavLink'>Phones</span>
        </div>
        <div class="sideNavRow" id='usersLink'>
            <i class="fa fa-user" aria-hidden="true" id='usersIcon'></i><span class='sideNavLink'>Users</span>
        </div>
        <div class="sideNavRow" id='signoutLink'>
            <i class="fas fa-sign-out-alt" id='signoutIcon'></i></i><span class='sideNavLink'>Logout</span>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/sidebar.js"></script>
