<!DOCTYPE html>
<html>
{{> header}}
{{> sidebar}}
    <div id='dashboard'>
        {{!-- TODO: Add news feed or promo feed --}}
    </div>
    <script type="text/javascript">
        let user = "{{username}}";
        Notification.displayNotification('success',`Welcome ${user}`);
    </script>
</body>
</html>