<!DOCTYPE html>
<html>
{{> header}}
    <div>
        WELCOME TO THE DASHBOARD!!
    </div>
    <script type="text/javascript">
        let user = "{{username}}";
        Notification.displayNotification('success',`Welcome ${user}`);
    </script>
</body>
</html>