/*Bestbuy blue color: #003B64*/
/*Bestbuy blue shade: #004B7F*/
/*Bestbuy blue shade: #0096FF*/
/*Bestbuy blue shade: #002640*/
/*Bestbuy blue shade: #0087E5*/

/*Bestbuy yellow color: #FFF200*/

/*Notification error color (red): #ff6b6b */
/*Notification warning color (yellow): #feca57 */
/*Notification success color (green): #1dd1a1 */


*{
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
body{
    background-color: #003B64;
}




/***************USER PANEL***********************/



#userPanel{
    margin: 0 auto;
    /* border:1px solid red; */
    display: flex;
    flex-wrap: wrap;
}

#tableHeader{
    
    background-color: rgb(117, 118, 119);
    /* border:1px solid green; */
}
#tableHeader,
.userRow{
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
}
#tableHeader span,
.userRow span{
    /* border: 1px solid blue; */
}
#tableHeader span{
    border-bottom: 1px solid white;

}
#tableHeader span:not(:nth-child(1)){
    padding-left: 5px;
    border-left: 1px solid white;
}

#tableHeader span,
.userRow  span{
    flex: 1 1 25%;
    color:#f5f6fa;
}

.userRow span{
    padding:10px 5px 0px;
    border-bottom: 1px solid white;
}
.userRow span:not(:nth-child(1)){
    border-left: 1px solid white;
}
.userRow :nth-child(odd){
    background-color: #002640;
}
.userRow :nth-child(even){
    background-color: #004B7F;
}

.userInfo{
    position: relative;
    padding-bottom: 5px;
    margin: 0;
}

.userInfo *{
    background-color: #002640 !important;
}
.userInfo a{
    color:#0087E5;
    text-decoration: none;
    transition:0.2s color ease;
}
.userInfo a:hover{
    color:#FFF200;
}
.userInfo :nth-child(1){
    margin-right: 10px;
}
.userInfo :nth-child(2){
    margin-left: 10px;
}



/***************END USER PANEL*******************/


/************SIDEBAR***************/

/* Clean this mess up */
/* Done! */

#side-bar{
    position: fixed;
    width: 50px;
    height: 100vh;
    float: left;
    border:1px solid black;
    text-align: center;
    background-color: #222;
    opacity: 0.9;
    z-index: 999;
}

.sideNavRow i{
    padding: 10px;
    color:#0087E5;
    transition: color 0.3s ease;
    font-size: 1.4em;
}

.floatLeft{
    float: left;
}

.sideNavRow i:hover{
    color: #FFF200;
}

.sideNavRow{
    display: block;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    cursor: pointer;
}
.sideNavRow :hover{
    color:#FFF200;
}
.sideNavLink{
    position: relative;
    top:10px;
    float: left;
    text-align: left;
    color: #f5f6fa;
    opacity: 1 !important;
}
#phonesText{
    padding-left: 6px;
}
#usersText{
    padding-left: 4px;
}
#homeText{
    padding-left:-4px;
}
.phoneIconShift{
   margin-left: 4px;
}
#signoutLink{
    position: relative;
    top:3vh;

}
.hidden{
    visibility: hidden;
    display: none;
}

/************END SIDEBAR***********/

/************DASHBOARD***************/

/* Need media query for large screen size */
#dashboard{
    /* border:1px solid purple; */
    height: 100vh;
    padding: 20px 40px 0px 40px;
}


/************END DASHBOARD***********/


/***********Notificaiton Panel*********************/

#notificationPanel{
    position: absolute;
    left:50%;
    margin-left:-20vw;
    top:0;
    text-align: center;
    width: 40vw;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    color:white;
}

/* .notificationDisplayed{
    visibility: visible;
} */
.notificationHidden{
    visibility: hidden;
}
.errorMessage{
    background-color: #ff6b6b;
}

.warningMessage{
    background-color: #feca57;
}

.successMessage{
    background-color: #1dd1a1;
}

/***********END Notificaiton Panel*****************/


/*********LOGIN*****************/

#loginPanel{
    margin: 0 auto;
    /* background-color: blue; */
    /* border:1px solid purple; */
}

#loginForm{
    margin: 0 auto;
    max-width: 320px;
    margin-top: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #004B7F;
    border: 1px solid white;
    border-radius: 4px;
    padding: 50px;
    /* border: 1px solid rebeccapurple; */
}
.loginControlRow{
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

.loginControlRow input{
    margin-top: 0.2em;
    display: block;
    /* max-width: 200px; */
}
.loginControlRow label{
    color:#f5f6fa;
    font-weight: 700;
}
#loginSubmitButton{
    padding: 4px 10px 4px 10px;
    border:1px solid black;
    border-radius: 3px;
    margin-top: 10%;
    color:black;
    background-color:#FFF200;
    transition: 0.2s all ease;
}

#loginSubmitButton:hover{
    background-color: #E5DA00;
    color:white;
}
#loginSubmitButton:active{
    color:#0087E5;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.7);
}


/*********END_LOGIN************/